.App {
  text-align: center;
  background-color: #3360ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cont {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  padding: 20px;
  transition: all linear 200ms;
}
.card{
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}

.card:hover > button{
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
}

#but {
  border-radius: 10px;
  border: none;
}
#but:hover > button{
  transform: scale(1.2);
}
#but > button:not(:hover) {
  transform: scale(1); /* Reset scaling for buttons not being hovered */
}
#but button {
  border-radius: 10px;
  border: 1px;
  margin: 3px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
}
.container {
  width:180px;
  height: 200px;
  margin-bottom: 10px;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contain {
  margin-bottom: 10px;
}
.contain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lalign {
  margin: 0 40%;
  text-align: left;
}
.lalign h3{
  font-family: "Sriracha", cursive;
}
.ralign {
  margin: 0 0;
  text-align: center;
  font-family: "Sriracha", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-family: "Sriracha", cursive;
}
.prof {
  width: 200px;
  height: 200px;
}

.like-button-container {
  position: absolute;
  top: 10px;
  right: 30px;
}

.train button{
  background-color: #282c34;
  color: whitesmoke;
  border-radius: 10px;
  margin: 10px;
}

.nav-item {
  text-decoration: none;
}

.styled-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: all 0.3s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
